body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:561px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:889px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:889px;
}
#u1 {
  position:absolute;
  left:2px;
  top:436px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:710px;
  width:470px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
